{% extends 'base.html' %}
{% block title %}Account List{% endblock title %}
{% block content %}
<main>
    <h1>Account List</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for account in account_list %}
                <tr>
                    <td>{{ account.name }}</td>
                    <td>{{ account.number }}</td>
                    <td>{{ account.receipts.count}}</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
</main>
{% endblock content %}
